@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner {
  animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.path {
  stroke: black;
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

.custom-box-shadow {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
}

.card-item {
  width: 100%;
}

:root {
  --main-color: #1b232f;
  --font-color: #fefdfe;
}

body {
  background-color: var(--main-color);
  color: var(--font-color);
}
